html,
body, {
  background: #fc4c4f !important;
  height: 100%;
}

.btn-light {
  background: #fc4c4f !important;
  color: white;
  margin-top: 20px;
}

.button1 {
  outline: none !important;
}

.navbar-brand {
  font-size: 70px !important; 
}